*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
body{
    background-color: #191919;
    color: white;
}

.navbar{
    width: 100%;
    height: 100vh;
    display: flex;
font-weight: bold;
    gap: 10%;
   margin-top: -2%;
   margin-left: 9%;
    padding: 10px 8%;
    position: relative;
    
}

.header-containt{
    
}

