*{
margin: 0;
padding: 0;
}

#container {
    background-color: #ebebd0;
    height: 600px;
    width: 600px;
    border: 2px solid black;
    display: flex;
    align-items: center;

   justify-content: center;

    gap: 10px;
    flex-wrap: wrap;

   margin:0 auto

}

.n1 {
    height: 55px;
    width: 55px;
    color: rgb(15, 4, 15);
    border: 13px solid rgb(229, 176, 17);
    box-shadow: 10px 5px 5px rgb(161, 153, 153);


}