* {
    padding: 1px;
    margin: 0%;
    box-sizing: border-box;
    border-radius: 10px;
}


#form {
    border: 3px solid black;
    padding: 0px;
    width: 40%;
    height: 400px;
    margin: auto;
    background-color: rgb(230, 219, 220);
    box-shadow: 5px 10px 10px grey;
}

#heading {
    width: 405px;
    height: 50px;
    text-align: center;
    background-color: rgb(87, 87, 158);
}

#last_name {
    margin: 105px;
}

#button {
    background-color: rgb(143, 64, 218);
    height: 50px;
    width: 405px;
    margin-bottom: 0px;


}