*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.wraper{
    width: 100%;
    height: 100%;
    
    
}

.nav-class{
display: flex;
text-align: center;

}


.left-item1{
    height: 2%;
    width: 3%;
}

.left-nav-item{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.right-nav-item{
     display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.section2{
    /* display: flex;
    text-align: center;
    justify-content: space-evenly; */
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    
    
}
.box-main{
    display: flex;
justify-content: center;
margin-top: 30px;
margin-bottom: 25px;
    /* margin-left: 33%; */
    gap: 2.5%;
    
}

#heading{
    margin-top: 30px;
    display: flex;
justify-content: center;
    width: 100%;
 /* margin-left: 43%;  */
}

.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(221, 221, 215);
    gap: 2px;
}

#img-sec2{
    margin-left: 5%;
}

.container2{
    display: flex;
    justify-content: center;
    
}






